{% extends 'base.html' %}
{% block content %}
    <img src="{{ url_for('static', filename='game.gif') }}" height="100">
    <img src="{{ url_for('static', filename='2.gif') }}" height="100">
    <div class="textbox">
        <p>The game is simple. Bet some coins and with some luck, the voucher you get bet is worth a lot more!</p>
        <form method="POST">
            {% if voucher %}
                <p>Voucher: <b>{{ voucher }}</b><br />
                Use the code 
                <a href="/voucher">here</a>
                to see if you won!</p>
            {% endif %}
            <input type="number" placeholder="bet" name="bet"/>
            <input value="Hit it" type="submit" />
        </form>
    </div>
{% endblock %}
